<section class="hero">
  <p>
    Зображення з ../ Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ratione, explicabo.
  </p>

  <p>
    Зображення з ./ Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ratione, explicabo.
  </p>

  <p>
    Зображення з / Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ratione, explicabo.
  </p>
  Зображення з ../
  <img src="../img/vite-logo.png" alt="vite" width="300" />

  Зображення з ./
  <img src="./img/vite-logo.png" alt="vite" width="300" />

  Зображення з /
  <img src="/img/vite-logo.png" alt="vite" width="300" />
</section>
